.mainChampion {
    display: flex;
    flex: auto;
}

.Champion{
  
    position: relative;
    display: block;
}

.subImg{
    float: left;
    display: block;
    position: relative;
    margin: 20px;
}

.subItem{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
}

.perks{
    width: 250px;
    text-align: center;
    list-style: none;
}

.subPerk{
    padding: 5px;
    height: 50px;
    width: 50px;
}